<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>

    <table class="table">
      <th><%= t('.name') %></th>
      <th><%= t('.icon') %></th>
      <th colspan="3"><%= t('.actions') %></th>

    <%= render @badges %>
    </table>

    <div class="mt-1">
      <%= link_to t('.new'), new_admin_badge_path %>
    </div>
  </div>
</div>
