<tr>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= image_tag badge.image_url %></td>
  <td class="align-middle"><%= badge.user_badge_count(current_user) %></td>
  <td class="align-middle"><%= badge_progress(current_user, badge) %></td>
  <td class="align-middle"><%= link_to t('.show'), badge_path(badge) %></td>
</tr>
