<h1><%= t('.header', title: @attempt.test.title) %></h1>

<strong>
  <%= progress(@attempt) %> |
  <%= @attempt.current_question.body %>
</strong>

<%= form_with url: attempt_path(@attempt),
              local: true, 
              method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @attempt.current_question.answers,
                                  :id,
                                  :body,
                                  include_hidden: false do |box| %>
    <%= box.check_box id: "answer_ids_#{box.object_id}" %>
    <%= box.label %> 
  <% end %>

  <%= link_to t('.gist'), gist_attempt_path(@attempt), method: :post %>
  <%= form.submit t('.next') %>
<% end %>
