<div class="row">
  <div class="col-2"><%= test.title %></div>
  <div class="col-2"><%= test.category.title %></div>
  <div class="col-2"><%= test.level %></div>
  <div class="col-2">
    <%= test.author.first_name %> <%= test.author&.last_name %>
  </div>
  <div class="col-2"><%= test.questions.count %></div>
  <div class="col-2"><%= link_to t('.show'), admin_test_path(test) %> |
  <%= link_to t('.edit'), edit_admin_test_path(test) %> |
  <%= link_to t('.destroy'),
                  admin_test_path(test),
                  method: :delete, 
                  data: { confirm: t('.confirm') } %></div>
</div>
