<div class="row">
  <div class="col">
    <h1><%= t('.header') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-2"><%= t('.title') %></div>
  <div class="col-2"><%= t('.category') %></div>
  <div class="col-2"><%= t('.level') %></div>
  <div class="col-2"><%= t('.author') %></div>
  <div class="col-2"><%= t('.questions') %></div>
  <div class="col-2"><%= t('.actions') %></div>
</div>

<%= render @tests %>

<div class="mt-1">
  <%= link_to t('.new'), new_admin_test_path %>
  <%= link_to t('.gists'), admin_gists_path %>
</div>
