<p>
<strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.category') %>:</strong>
  <%= @test.category.title %>
</p>
<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>
<p>
  <strong><%= t('.author') %>:</strong>
  <%= @test.author.first_name %> <%= @test.author&.last_name %>
</p>

<h2><%= t('.questions') %></h2>
  <table>
    <tbody>
      <%= render @test.questions %>
    </tbody>
  </table>
<%= link_to t('.back'), admin_tests_path %>
