<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <p>
      <strong><%= t('.title') %>:</strong>
      <%= @test.title %>
    </p>

    <p>
      <strong><%= t('.category') %>:</strong>
      <%= @test.category.title %>
    </p>

    <p>
      <strong><%= t('.level') %>:</strong>
      <%= @test.level %>
    </p>

    <p>
      <strong><%= t('.author') %>:</strong>
      <%= @test.author.first_name %> <%= @test.author&.last_name %>
    </p>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h2><%= t('.questions') %></h2>
    <table>
      <tbody>
        <%= render @test.questions %>
        <tr>
          <td>
            <%= link_to t('.add'), new_admin_test_question_path(@test) %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-1">
      <%= link_to t('.back'), admin_tests_path %>
    </div>
  </div>
</div>
