<div class="row">
  <div class="col-2"><%= test.title %></div>
  <div class="col-2"><%= test.category.title %></div>
  <div class="col-2"><%= test.level %></div>
  <div class="col-2">
    <%= test.author.first_name %> <%= test.author&.last_name %>
  </div>
  <div class="col-2"><%= test.questions.count %></div>
  <div class="col-2"><%= button_to t('.start'),
                         start_test_path(test),
                         class: 'btn btn-secondary' %></div>
</div>
